services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - MONGO_URI=${MONGO_URI}
      - ADMIN_ID=${ADMIN_ID}
      - CLOUD_NAME=${CLOUD_NAME}
      - API_KEY=${API_KEY}
      - API_SECRET=${API_SECRET}
      - SECRET=${SECRET}

    depends_on:
      - mongo
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
